body{
  text-align: center;
}

table{
  border: solid;
  width: 600px;
  margin: auto;
  column-gap: 10px;
  background-color: lightgray;
  margin-bottom: 2%;

}

#stove{
  height: 300px;
  background-color: gray;
}

table *{
  border: solid;
  border-width: 2px;
  border-color: darkgray;
}

.listing{
  background-color: ghostwhite;
  border-collapse: collapse;
}

td{
  width: 50%;
}


.burner{
  width: 250px;
  height: 250px;
  margin: auto;
  border-radius: 100%;
  background-color: gray;
}

.small{
  width: 125px;
  height: 125px;
}


section{
  width: 30%;
  border: 3px solid black;
  border-radius: 20%;
  background-color: darkgray;
  margin: auto;
  margin-bottom: 5%;

}


nav{
  background-color: lightgray;
  border: 3px solid black;
  border-radius: 20%;
  float: left;
  height: 90%;
  width: 100px;
  position: fixed;
}

nav a{
  margin-bottom: 10%;
}

.selected{
  color: gray;
  text-decoration: underline;
  text-decoration-color: gray;

}
